html {
  box-sizing: border-box;
}

*, ::before, ::after {
  box-sizing: inherit;
}

#root{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: 'LAto', sans-serif;
  background-image: url(/src/landscape-3.jpg);
  background-position: center;
}